<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aio.pos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logopos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logopos"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.DetailRiwayatTransaksiActivity"></activity>
        <activity android:name=".activity.RiwayatTerakhirActivity" />
        <activity android:name=".activity.PembayaranSuksesActivity" />
        <activity android:name=".activity.PembayaranActivity" />
        <activity android:name=".activity.DetailTransaksiTesimpanActivity" />
        <activity android:name=".activity.TransaksiTersimpanActivity" />
        <activity
            android:name=".activity.RingkasanOrderActivity"
            android:label="@string/title_activity_ringkasan_order"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".activity.BantuanActivity" />
        <activity android:name=".activity.PrinterActivity" />
        <activity
            android:name=".activity.ProfilActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PengaturanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailShiftActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ShiftHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ShiftOtomatisActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ShiftBerakhirLastActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ShiftBerakhirActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ShiftSaatIniActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PilihanShiftActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ShiftActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailPelangganActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditPelangganActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddPelangganActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PelangganActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LupaKataSandiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>