<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aiopos.apps">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aio"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logopos"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity android:name="com.aiopos.apps.activity.DeviceList"></activity>
        <activity android:name="com.aiopos.apps.activity.DetailRiwayatTransaksiActivity" />
        <activity android:name="com.aiopos.apps.activity.RiwayatTerakhirActivity" />
        <activity android:name="com.aiopos.apps.activity.PembayaranSuksesActivity" />
        <activity android:name="com.aiopos.apps.activity.PembayaranActivity" />
        <activity android:name="com.aiopos.apps.activity.DetailTransaksiTesimpanActivity" />
        <activity android:name="com.aiopos.apps.activity.TransaksiTersimpanActivity" />
        <activity
            android:name="com.aiopos.apps.activity.RingkasanOrderActivity"
            android:label="@string/title_activity_ringkasan_order"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name="com.aiopos.apps.activity.BantuanActivity" />
        <activity android:name="com.aiopos.apps.activity.PrinterActivity" />
        <activity
            android:name="com.aiopos.apps.activity.ProfilActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.PengaturanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.DetailShiftActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.ShiftHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.ShiftOtomatisActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.ShiftBerakhirLastActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.ShiftBerakhirActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.ShiftSaatIniActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.PilihanShiftActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.ShiftActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.DetailPelangganActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.EditPelangganActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.AddPelangganActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.PelangganActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.LupaKataSandiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aiopos.apps.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>